<div style="width: 400px; margin: auto;">
  <div *ngIf="currentGuest" class="edit-form">
    <h4>Guest</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentGuest.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentGuest.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentGuest.confirmed ? "Confirmed" : "Pending" }}
      </div>
    </form>

    <button
      class="btn btn-primary mr-2"
      *ngIf="currentGuest.confirmed"
      (click)="updateConfirmed(false)"
    >
      Not Confirmed
    </button>
    <button
      *ngIf="!currentGuest.confirmed"
      class="btn btn-primary mr-2"
      (click)="updateConfirmed(true)"
    >
      Confirm
    </button>

    <button class="btn btn-danger mr-2" (click)="deleteGuest()">
      Delete
    </button>

    <button
      type="submit"
      class="btn btn-success"
      (click)="updateGuest()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentGuest">
    <br />
    <p>Cannot access this Guest...</p>
  </div>
</div>
