<div style="width: 400px; margin: auto;">
  <div *ngIf="currentGuest" class="edit-form">
    <h4>Guest</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentGuest.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentGuest.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentGuest.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="btn btn-primary mr-2"
      *ngIf="currentGuest.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentGuest.published"
      class="btn btn-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="btn btn-danger mr-2" (click)="deleteGuest()">
      Delete
    </button>

    <button
      type="submit"
      class="btn btn-success"
      (click)="updateGuest()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentGuest">
    <br />
    <p>Cannot access this Guest...</p>
  </div>
</div>
